# imagenode service unit file
# Jeff Bass, jeff@yin-yang-ranch.com
# Defines imagenode.py as a systemd service
# This file should be copied to /etc/systemd/system as root
#   e.g. sudo cp imagenode.service /etc/systemd/system
# Use usual systemctl start, stop, status restart, enable commands
#   e.g. sudo systemctl start imagenode.service

[Unit]
Description=Imagenode Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/imagenode/imagenode
User=pi
Restart=always
RestartSec=5
ExecStart=/home/pi/.virtualenvs/py3cv3/bin/python -u /home/pi/imagenode/imagenode/imagenode.py

[Install]
WantedBy=multi-user.target
